@import "variables";
@import "mixin";

.hidden{
  display: none !important;
}

.bold{
  font-weight: bold;
}

.normal{
  font-weight: normal !important;
}

.text-left{
	@include align(left);
}

.text-right{
	@include align(right);
}

.text-center{
	@include align(center);
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.gray{
  color: $gray;
}

.white{
  color: $white;
}

.white-bg{
  background: $white;
}

.assertive-bg{
  background: $assertive;
}