@import "variables";
@import "mixin";

.hidden{
  display: none !important;
}

.bold{
  font-weight: bold;
}

.normal{
  font-weight: normal !important;
}

.text-left{
	@include align(left);
}

.text-right{
	@include align(right);
}

.text-center{
	@include align(center);
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.relative{
  position: relative;
}

.gray{
  color: $gray;
}

.white{
  color: $white;
}

.white-bg{
  background: $white;
}

.assertive-bg{
  background: $assertive;
}

.content-block-inner {
  background: $white;
  width: 100%;
  position: relative;
  color: #000;
  margin: 20px 0;
  &.margin-top-0 {
    margin-top: 0;
  }
}

.margin {
  margin: $margin-size;
}

.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: $margin-size;
}

.margin-right {
  margin-right: $margin-size;
}

.margin-bottom {
  margin-bottom: $margin-size;
}

.margin-left {
  margin-left: $margin-size;
}

.margin-horizontal {
  margin-left: $margin-size;
  margin-right: $margin-size;
}

.margin-vertical {
  margin-top: $margin-size;
  margin-bottom: $margin-size;
}