#BUY {
  background: #f1f1f1;
  .content-block-inner {
    .add-interest {
      display: inline-block;
      width: 100%;
      font-size: 12px;
      padding: 10px;
    }
    .step1 {
      padding: 6px 0 5px 16px;
      margin: 0;
    }
    .step2 {
      .input-label {
        width: 30%;
        &.input-add {
          width: 60px;
        }
      }
    }
    .range.item {
      position: relative;
      input {
        margin: 31px 0 0 0;
      }
      .interest {
        position: absolute;
        top: 15px;
        width: 1/3*100%;
        left: 10px;
        text-align: center;
        border: 1px solid #ddd;
        padding: 2px;
        font-size: 12px;
        border-radius: 5px;
        @media screen and (min-width: 768px) {
          width: 1.04/3*100%;
        }
      }
    }
    .terms {
      & > li {
        font-size: 14px;
        text-align: center;
        line-height: 1em;
        word-spacing: 2em;
        width: 100%;
        padding: 0 5px;
        @media screen and (max-width: 320px) {
          padding: 0 2px;
        }
      }
    }

    .big {
      font-size: 28px;
    }
  }
  .item.range, .item.item-input {
    border-bottom: 0;
  }

  .button-block {
    font-size: 20px;
    font-weight: 700;
  }
  .small {
    font-size: 12px;
  }
}