

#HOME {
  background: #ffe4c4;
  .container {
    text-align: center;
    .add-interest-img {
      margin: 15px auto;
      width: 60px;
    }
    .p1 {
      font-size: 18px;

    }
    .p2 {
      font-size: 22px;
      font-weight: 700;
      margin-top: 1.4em;
    }
    .p3 {
      font-size: 12px;
    }
    .button {
      padding: 0 44px;
    }
  }
}
