.total-income {
  padding: 0 20px 20px;
  background: $assertive;
  color: $white;
}

#INFO .each-item {
  & + .each-item {
    padding-bottom: 0;
  }
  .col-80 {
    border-right: 1px solid $border-color;
  }
}
