@import "variables";
@import "../../bower_components/ionic/scss/ionic";

.pane, .view{
	background: $whitesmoke;
}

.tabs-light > .tabs, .tabs.tabs-light{
  // border-top: solid 1px $border-color !important;
}

.tab-item{
  &.tab-item-active, &.active, &.activated{
    color: $assertive;
  }
}

input[disabled] {
	background: $white;
}

.item-input-inset.item-stacked-label {
	padding-left: 16px;
	.button{
 		position: absolute;
 		bottom: 12px;
 		right: 12px;
 }
}

.item-input .button{
	position: absolute;
	bottom: 6px;
	right: 12px;
}

.button.button-icon i{
	font-size: 26px;
}

.item-note.blue{
	color: $blue;
}

a, a:hover, a:active, a:focus{
  outline: none;
  text-decoration: none;
}

.bar-header{
	border-bottom-width: 0;
}

.bar.bar-assertive{
	background: $assertive;
}

.back-button{
	i:before{
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
		padding-left: 5px;
	}
	.back-text{
		padding-left: 5px;
	}
}


//built-in browser doesn't support flex: 0 0 10%
.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-33, .col-34 {
  width: 33.3333%;
}

.col-50 {
  width: 50%;
}

.col-66, .col-67 {
  width: 66.6666%;
}

.col-75 {
  width: 75%;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.popup-large.popup-container .popup{
	width: 86%;
}