@import "variables";
@import "../../bower_components/ionic/scss/ionic";

.pane, .view{
	background: $whitesmoke;
}

.tabs-light > .tabs, .tabs.tabs-light{
  border-top: solid 1px $border-color !important;
}

.tab-item{
  &.tab-item-active, &.active, &.activated{
    color: $assertive;
  }
}


.slider-pager .slider-pager-page {
  
  &.active {

  }
}

input[disabled] {
	background: $white;
}

.item-input-inset {
	&.item-stacked-label, &.item-input{
		padding-left: 16px;
		.button{
	 		position: absolute;
	 		bottom: 12px;
	 		right: 12px;
	 }
	}
}

.button.button-icon i{
	font-size: 30px;
}

.item-note.blue{
	color: $blue;
}