@import "variables";
@import "../../bower_components/ionic/scss/ionic";

.pane, .view{
	background: $whitesmoke;
}

.tabs-light > .tabs, .tabs.tabs-light{
  border-top: solid 1px $border-color !important;
}

.tab-item{
  &.tab-item-active, &.active, &.activated{
    color: $assertive;
  }
}

input[disabled] {
	background: $white;
}

.item-input-inset.item-stacked-label {
	padding-left: 16px;
	.button{
 		position: absolute;
 		bottom: 12px;
 		right: 12px;
 }
}

.item-input .button{
	position: absolute;
	bottom: 6px;
	right: 12px;
}

.button.button-icon i{
	font-size: 26px;
}

.item-note.blue{
	color: $blue;
}

a, a:hover, a:active, a:focus{
  outline: none;
  text-decoration: none;
}