@import "variables";

// pay password directive
.pay-password.row{
  padding: 0;
  .insert {
    min-height: 40px;
    line-height: 38px;
    padding: 0;
  }
}

// keyboard directive
.has-keyboard.scroll{
  height: 100%;
  .keyboard {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    .row{
      padding: 0;
    }
    .item {
      margin: 0;
    }
    button {
      min-height: 0;
      min-width: 0;
      &:disabled{
        background: $whitesmoke;
      }
    }
  }
}