body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:230px;
  width:640px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:780px;
  width:640px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:40px;
  width:640px;
  height:200px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:92px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:570px;
  top:214px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
