body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:51px;
  width:415px;
  height:339px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:339px;
}
#u1 {
  position:absolute;
  left:2px;
  top:162px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:15px;
  width:131px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
