<ion-view view-title="关于财神爷爷" id="ABOUT">
	<ion-content>
		<div class="padding">
			<div class="text-center padding"><i class="logo"><img ng-src="assets/images/logo.png" alt=""></i></div>
			<p class="text-indent">财神爷爷是财神爷爷（上海）金融科技有限公司旗下运营的专属工薪族的手机理财工具。</p>
			<p class="text-indent">预期年化收益6.88%～11.68%，1元起投，随月存取，到期后自动转活期，享8.88%收益。同时工薪族在工资发放后7天内投资，投资金额将享受额外2%的加息。</p>
			<p class="text-indent">财神爷爷将致力为广大工薪族实现“放心投资，轻松理财”这一目标而不懈努力。 </p>
			<div class="share">
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconwechat.png" alt=""></div>
					<div class="col-90 col-center padding">公众号：cshyeye</div>
				</div>
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconweb.png" alt=""></div>
					<div class="col-90 col-center padding">官网：<a target="_blank">www.csyeye.com</a></div>
				</div>
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconservice.png" alt=""></div>
					<div class="col-90 col-center padding">电话：<a ng-href="tel:4000646668">4000646668</a></div>
				</div>
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconqq.png" alt=""></div>
					<div class="col-90 col-center padding">QQ群：425351170</div>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>