<ion-view view-title="关于财神爷爷" id="ABOUT">
	<ion-content>
		<div class="padding">
			<div class="text-center padding"><i class="logo"><img ng-src="assets/images/logo.png" alt=""></i></div>
			<p class="text-indent">财神爷爷是财神爷爷（上海）金融科技有限公司旗下运营的一款手机理财工具，给投资者提供了最高10.88%的预期年化收益；100元起投，每月均可提现，确保资金流动；存取灵活，让用户的资产得到最大的利用。用户将平时难打理的钱投资到财神爷爷，即可享受低门槛高收益。</p>
			<div class="share">
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconwechat.png" alt=""></div>
					<div class="col-90 col-center padding">公众号：cshyeye</div>
				</div>
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconweb.png" alt=""></div>
					<div class="col-90 col-center padding">官网：<a target="_blank" ng-href="http://www.csyeye.com">www.csyeye.com</a></div>
				</div>
				<div class="item row">
					<div class="col-10 col-center"><img ng-src="assets/images/iconservice.png" alt=""></div>
					<div class="col-90 col-center padding">电话：<a ng-href="tel:4000646668">4000646668</a></div>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>