<ion-view view-title="{{title}}" id="BALANCE">
	<ion-content>
		<div class="text-center assertive-bg margin-top-0 padding white">
			<div class="margin">{{title}}（元）</div>
			<div class="big margin">{{balance | currency:''}}</div>
		</div>

		<div class="padding-top">
			<div class="row list white-bg padding-horizontal" ng-repeat="item in items">
				<div class="col">
					{{item.desc}} <br ng-if="item.status">
					{{item.date}}
				</div>
				<div class="col text-right">
					<span class="assertive">{{item.amount}}</span> <br ng-if="item.status">
					{{item.status}}
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>