<ion-view view-title="{{title}}" id="BALANCE">
	<ion-content>
		<div class="text-center white-bg content-block-inner margin-top-0 padding border">
			<div class="margin">{{title}}（元）</div>
			<div class="assertive big margin">{{balance | currency:''}}</div>
		</div>
		<div class="content-block-inner border">
			<div class="row each-item">
				<div class="col">日期</div>
				<div class="col text-center">方式</div>
				<div class="col text-right assertive">资金变动</div>
			</div>
			<div class="row each-item" ng-repeat="item in items">
				<div class="col">{{item.date}}</div>
				<div class="col text-center">{{item.desc}}</div>
				<div class="col text-right assertive">{{item.amount}}</div>
			</div>
		</div>
	</ion-content>
</ion-view>