<ion-view view-title="{{title}}" id="BALANCE">
	<ion-content>
		<div class="text-center assertive-bg margin-top-0 padding white padding-bottom balance-head">
			<div class="margin">{{title}}(元)</div>
			<div class="big margin">{{balance || 0 | currency:''}}</div>
		</div>

		<div class="padding-top">
			<div class="row list white-bg padding-horizontal" ng-repeat="item in items">
				<div class="col">
					{{item.desc}} <br ng-if="item.status">
					{{item.date}}
				</div>
				<div class="col text-right">
					<span class="assertive" ng-class="item.style">{{item.amount}}</span> <br ng-if="item.status">
					{{item.status}}
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>