<ion-view view-title="购买" id="BUY">
	<ion-content>
		<form name="buyForm" ng-submit="submit()">
			<div class="content-block-inner margin-top-0">
				<p class="step1">1.期限及利率</p>
				<div class="item range range-assertive">
					<input type="range" name="term" min="1" max="99" ng-model="order.range">
					<div class="interest assertive"
							 style="-webkit-transform: translate3d({{ order.left }}, 0, 0);transform: translate3d({{ order.left }}, 0, 0);">{{ order.desc }}</div>
				</div>
				<ul class="terms range">
					<li ng-repeat="item in terms" ng-class="{ 'active-position assertive':item.active }">{{ item.name }}</li>
				</ul>
				<a class="underline add-interest text-right assertive padding" ng-if="!salaryDaySet" ui-sref="tabs.setSalaryBuy">加息2%？设置工资发放日</a>
				<label class="item item-input step2">
					<span class="input-label">2.金额</span>
					<input id="amount" type="text" placeholder="{{ order.minAmount }}元起投 上限&le;{{ order.maxAmount }}" ng-blur="inputBlur()" ng-model="order.amount" max="{{ order.maxAmount }}" required>
					<span class="input-label input-add">元</span>
				</label>
			</div>
			<div class="padding-right text-right">
				<a ui-sref="tabs.limit" class="assertive">限额说明</a>
			</div>

			<div class="content-block-inner padding text-center">
				<p>预期收益：<span class="assertive"><span class="big">{{ order.reward | currency: ''}}</span>元</span></p>
				<p>(预期年化收益率 {{ order.annualYield }}%)</p>
			</div>

			<div class="padding">
				<button type="submit" class="button button-block button-assertive" ng-disabled="buyForm.$invalid">确认支付</button>
			</div>
		</form>

		<p class="text-center small">确认支付代表您同意此<a class="calm" ui-sref="tabs.serviceAgreement">《服务协议》</a>及<a class="calm" ui-sref="tabs.payAgreement">《支付协议》</a></p>
	</ion-content>
</ion-view>
