<ion-view view-title="支付密码" id="PAY_PASSWORD">
	<ion-content>
		
		<div class="padding-horizontal">
			<p class="padding-vertical no-margin">{{ step.title }} <span ng-show="error.show" class="assertive">*{{ error.content }}</span></p>
			<div class="row text-center">
				<div class="col insert item" ng-repeat="insert in inserts" ng-class="{ 'ion ion-record': insert.show }">{{ insert.show ? '' : insert.number }}</div>
			</div>

		</div>
		
		
		<div class="keyboard text-center">
			<div class="row">
				<button ng-click="enter(1)" class="col-33 item padding">1</button>
				<button ng-click="enter(2)" class="col-33 item padding">2</button>
				<button ng-click="enter(3)" class="col-33 item padding">3</button>
			</div>
			<div class="row">
				<button ng-click="enter(4)" class="col-33 item padding">4</button>
				<button ng-click="enter(5)" class="col-33 item padding">5</button>
				<button ng-click="enter(6)" class="col-33 item padding">6</button>
			</div>
			<div class="row">
				<button ng-click="enter(7)" class="col-33 item padding">7</button>
				<button ng-click="enter(8)" class="col-33 item padding">8</button>
				<button ng-click="enter(9)" class="col-33 item padding">9</button>
			</div>
			<div class="row">
				<button ng-click="enter('ok')" ng-class="{ 'calm': ok }" ng-disabled="!ok" class="col-33 item padding">OK</button>
				<button ng-click="enter(0)" class="col-33 item padding">0</button>
				<button ng-click="enter(-1)" class="col-33 item padding assertive ion ion-arrow-left-c"></button>
			</div>
		</div>

	</ion-content>
</ion-view>