body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:56px;
  width:419px;
  height:404px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:404px;
}
#u1 {
  position:absolute;
  left:2px;
  top:194px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:20px;
  width:391px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
