body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:56px;
  width:437px;
  height:606px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:606px;
}
#u1 {
  position:absolute;
  left:2px;
  top:295px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:20px;
  width:118px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:34px;
  top:78px;
  width:312px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:43px;
  top:126px;
  width:229px;
  height:38px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:295px;
  top:131px;
  width:51px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:15px;
  top:166px;
  width:390px;
  height:76px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:76px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:288px;
  top:173px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:540px;
  top:20px;
  width:118px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:540px;
  top:56px;
  width:360px;
  height:639px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:639px;
}
#u17 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:540px;
  top:126px;
  width:360px;
  height:569px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:569px;
}
#u19 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:540px;
  top:142px;
  width:360px;
  height:44px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:567px;
  top:157px;
  width:66px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:857px;
  top:149px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:768px;
  top:158px;
  width:79px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:540px;
  top:185px;
  width:360px;
  height:232px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:232px;
}
#u29 {
  position:absolute;
  left:2px;
  top:108px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:567px;
  top:231px;
  width:277px;
  height:20px;
  color:#999999;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:567px;
  top:303px;
  width:277px;
  height:21px;
  color:#999999;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:567px;
  top:205px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:567px;
  top:277px;
  width:109px;
  height:16px;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:550px;
  top:253px;
  width:337px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:320px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:337px;
  height:1px;
}
#u39 {
  position:absolute;
  left:550px;
  top:329px;
  width:337px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:320px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:337px;
  height:1px;
}
#u40 {
  position:absolute;
  left:567px;
  top:375px;
  width:277px;
  height:21px;
  color:#999999;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:567px;
  top:349px;
  width:73px;
  height:16px;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1000px;
  top:20px;
  width:92px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1000px;
  top:56px;
  width:360px;
  height:639px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:639px;
}
#u47 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1000px;
  top:126px;
  width:360px;
  height:569px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:569px;
}
#u49 {
  position:absolute;
  left:2px;
  top:276px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1006px;
  top:218px;
  width:348px;
  height:127px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:127px;
}
#u51 {
  position:absolute;
  left:2px;
  top:56px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1007px;
  top:146px;
  width:174px;
  height:40px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1180px;
  top:146px;
  width:174px;
  height:40px;
  color:#E5514F;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1095px;
  top:225px;
  width:200px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1129px;
  top:286px;
  width:195px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1023px;
  top:256px;
  width:277px;
  height:20px;
  color:#999999;
  text-align:left;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1023px;
  top:315px;
  width:277px;
  height:21px;
  color:#999999;
  text-align:left;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:21px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1140px;
  top:89px;
  width:90px;
  height:30px;
  font-size:15px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
