<ion-view view-title="支付">
	<ion-content>
		<div class="list white-bg">
			<div class="row ">
				<div class="col">您本次付款金额为: </div>
				<div class="col text-right"><span class="assertive">{{order.amount | currency:''}}</span>元</div>
			</div>
			<div class="padding-left padding-bottom gray">
				使用{{order.bankName}}(尾号{{order.tailNo}})付款
			</div>
		</div>

		<div class="list white-bg padding-bottom">
			<div class="row">
				<div class="col">请输入支付密码</div>
			</div>
			<pay-password></pay-password>

			<a class="text-right padding assertive pull-right" ui-sref="tabs.forgetPasswordBuy({phone: user.phone, type: 3})"><small>忘记密码？</small></a>
		</div>

		<!-- <div class="padding">
			<button class="button button-assertive button-full">确认付款</button>
		</div> -->

		<keyboard></keyboard>

	</ion-content>
</ion-view>