<ion-view view-title="修改登录密码" id="LOGIN_PASSWORD">
  <ion-content>

    <form name="changeLoginPasswordForm" ng-submit="submit()">
      <div class="list content-block-inner margin-bottom">
        <label class="item item-input item-stacked-label">
          <span class="input-label">当前登录密码<small class="assertive" ng-show="changeLoginPasswordForm.current.$dirty && changeLoginPasswordForm.current.$invalid">*密码不符合规则</small></span>
          <input type="password" name="current" ng-pattern="passwordPattern" placeholder="" ng-model="pwd.currentPassword" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">新的登录密码<small class="assertive" ng-show="changeLoginPasswordForm.new.$dirty && changeLoginPasswordForm.new.$invalid">*密码不符合规则</small></span>
          <input type="password" name="new" ng-pattern="passwordPattern" placeholder="" ng-model="pwd.newPassword" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">确认新的密码<small class="assertive" ng-show="changeLoginPasswordForm.repeat.$dirty && (changeLoginPasswordForm.repeat.$invalid || pwd.newPassword !== pwd.repeatPassword)">*密码不一致</small></span>
          <input type="password" name="repeat" ng-pattern="passwordPattern" placeholder="" ng-model="pwd.repeatPassword" required>
        </label>
      </div>
      <p class="assertive ion ion-flag padding"><small> 6-16位，至少包含数字、字母、符号中的2种！</small></p>

      <div class="padding-horizontal margin-top">
        <button type="submit" class="button button-full button-assertive" ng-disabled="changeLoginPasswordForm.$invalid || pwd.newPassword !== pwd.repeatPassword">修改</button>
      </div>
    </form>


  </ion-content>
</ion-view>