@import "styles/overwrite-ionic";
@import "styles/base";
@import "styles/home";
@import "styles/buy";
@import "styles/info";
@import "styles/balance";
@import "styles/agreement";
@import "styles/salary";
@import "styles/about";
@import "styles/pay-password";
@import "styles/password";
@import "styles/login";
@import "styles/feedback";

img {
   width: 100%;
}

a.underline {
   text-decoration: underline;
}

.big {
   font-size: 34px;
}

.middle {
   font-size: 20px;
}

.border {
   border: 1px solid $border-color;
}

.relative .triangle-svg{
  $size: 12px;
  position: absolute;
  display: inline-block;
  width: $size;
  height: $size;
  right: 0;
  bottom: 0;
  img {
    display: block;
  }
}