@import "styles/overwrite-ionic";
@import "styles/base";
@import "styles/home";
@import "styles/buy";
@import "styles/info";
@import "styles/balance";
@import "styles/agreement";
@import "styles/salary";
@import "styles/about";
@import "styles/pay-password";
@import "styles/password";
@import "styles/login";
@import "styles/feedback";

img {
   width: 100%;
}

a.underline {
   text-decoration: underline;
}

.content-block-inner {
   background: $white;
   width: 100%;
   position: relative;
   color: #000;
   margin: 20px 0;
   &.margin-top-0 {
      margin-top: 0;
   }
}

.big {
   font-size: 28px;
}

.margin {
   margin: 10px;
}

.no-margin {
   margin: 0;
}

.border {
   border: 1px solid $border-color;
}