@import "styles/overwrite-ionic";
@import "styles/base";
@import "styles/home";
@import "styles/buy";

img {
   width: 100%;
}

a.underline {
   text-decoration: underline;
}

.content-block-inner {
   background: #fff;
   width: 100%;
   position: relative;
   color: #000;
   margin: 20px 0;
}