<ion-view view-title="登录" id="LOGIN">
	<ion-content>
		<form name="loginForm" ng-submit="submit()">
			<div class="list white-bg content-block-inner">
			  <label class="item item-input item-stacked-label">
		      <span class="input-label">手机号码</span>
		      <input type="text" placeholder="手机号码" ng-model="user.phone" disabled required>
		    </label>
		    <label class="item item-input item-stacked-label">
		      <span class="input-label">登录密码</span>
		      <input type="password" placeholder="" ng-pattern="/^[\s\S]{6,16}$/" ng-model="user.password" required>
		    </label>
			</div>

			<a class="text-right padding-bottom padding-right padding-left assertive pull-right" ui-sref="tabs.forgetPassword({phone: user.phone, type: 2})"><small>忘记密码？</small></a>

			<div class="padding-horizontal">
				<button type="submit" class="button button-full button-assertive" ng-disabled="loginForm.$invalid">登录</button>
			</div>
		</form>
	</ion-content>
</ion-view>