<ion-view view-title="支付协议" class="agreement">
	<ion-content>

		<div class="padding">
			<p class="text-indent">诺诺宝服务协议（以下或简称“本协议”）是上海诺诺镑客金融信息服务有限公司（以下或
				简称“本公司”或简称“诺诺镑客”）与诺诺镑客用户（以下或简称“您”或“投资者”）就
				诺诺宝服务相关事项所订立的有效合约。投资者通过网络页面点击确认或以其他方式选择接
				受本协议，即表示投资者与本公司已达成协议并同意接受本协议的全部约定内容以及与本协
				议有关的各项规则及本公司运营的金融信息服务平台网站（网址： www.nonobank.com， 以
				下或简称“平台网站”）所包含的其他与本协议或本协议项下各项规则的条款和条件有关的
				各项规定。</p>
			<p class="text-indent">在接受本协议之前，请您仔细阅读本协议的全部内容。如果您不同意本协议的任意内容，或
				者无法准确理解本公司对条款的解释，请不要进行后续操作。</p>

			<h5>一、定义</h5>
			<p>除本协议另有规定外，下列用语具有如下含义：</p>
			<ol>
				<li>
					<div class="list-style">1、</div>
					诺诺宝：指本公司出于丰富自身服务、增进用户体验的考虑，推出的一项为投资者实现
					账户余额增值的功能。投资者通过使用该功能，可自行认购与本公司有合作关系的金融机构
					的产品服务，主要包括货币基金等。
				</li>
				<li>
					<div class="list-style">2、</div>
					身份认证要素：指在交易中本公司用于识别投资者身份的信息要素，包括但不限于投资
					者的平台网站账户、密码、短信校验服务、经认证的手机号码等及本公司认可的其他要素。
				</li>
			</ol>


			<h5>二、特别提示</h5>
			<ol>
				<li>
					<div class="list-style">1、</div>
					本公司有权采取各种必要手段对投资者进行身份验证，并据此决定提供服务的范围及为
					投资者开放服务种类、范围及进行业务操作的权限。为保障投资者资金安全，本公司有权根
					据投资者类别、身份认证措施、交易风险度等因素的不同设定不同的安全策略。
				</li>
				<li>
					<div class="list-style">2、</div>
					身份认证要素是本公司识别投资者的依据，投资者必须妥善保管，不得将身份认证要素
					提供给任何第三方或交于任何第三方使用。使用上述身份要素所发出的一切指令均视为投资
					者本人所为，投资者应对此产生的后果负责。对非本公司原因造成的账户、密码等信息被冒
					用、盗用或非法使用，由此引起的一切风险、责任、损失、费用等应由投资者自行承担。
				</li>
				<li>
					<div class="list-style">3、</div>
					您知晓并同意，为向您提供诺诺宝服务，本公司有权将您的个人信息（包括但不限于：
					姓名、身份证号、手机号、邮箱、联系地址、平台网站账号等）提供给相应的金融机构。您
					同意相关金融机构有权将您的个人信息（包括但不限于您在金融机构的账户、交易信息、资
					产状况等）提供给本公司。
				</li>
				<li>
					<div class="list-style">4、</div>
					本公司及其关联公司不对平台网站上信息之真实性、合法性做任何明示或暗示的担保，
					或对此承担任何连带责任，不对相关金融机构及任何第三方的法定义务和/或契约责任承担
					任何连带责任。本公司亦无义务参与理财产品协议交易资金划转及支付（投资损失及相关金
					融机构造成的损失除外）环节之外的任何赔偿、纠纷处理等活动。
				</li>
			</ol>

			<h5>三、服务对象范围</h5>
			<ol>
				<li>
					<div class="list-style">1、</div>
					诺诺宝服务仅向具有完全民事权利能力和民事行为能力且持有平台网站实名账户的中华
					人民共和国居民（港澳台除外）提供。投资者必须按照平台网站的注册要求提供本人真实、
					准确及完整的信息，并负责对本人信息及时更新。本公司视诺诺镑客所有用户已就上述各项
					条件与要求作出承诺，保证本人身份的合法性，以及所提供信息的真实性、准确性、完整性
					和非过时性。
				</li>
				<li>
					<div class="list-style">2、</div>
					若您提供任何不真实、不准确、不完整或过时的身份信息，或者本公司有合理理由怀疑
					您所提供的信息为不真实、不准确、不完整或过时的，本公司有权中止（或终止）向您提供
					服务，并拒绝您现在或未来使用本服务之各项服务之全部或部分功能，对此本公司不承担任
					何责任。同时，因此所产生的任何直接或间接的支出、损失、费用、处罚将由您来承担。 若
					由于您未及时更新您信息，而导致本服务无法提供或本服务的有关流程及操作发生任何错
					误，您不得以此为由取消交易、拒绝支付交易款项和服务手续费或采取其它不当行为，并将
					独立承担因此产生的所有责任和后果。
				</li>
			</ol>

			<h5>四、通知</h5>
			<ol>
				<li>关于本协议条款和其他协议、告示或其他有关您使用诺诺宝服务的通知，本公司将以电子形
					式或纸张形式通知您，包括但不限于依据您向本公司提供的电子邮件地址发送电子邮件的方
					式、依据投资者提供的联系地址寄送挂号信的方式、于诺诺镑客或合作伙伴网站上公布、或
					发送手机短信、站内信和电话通知等方式。</li>
			</ol>

			<h5>五、服务费用</h5>
			<ol>
				<li>您知晓并同意，本公司保留向您收取服务费的权利。一旦本公司确定收取或调整服务费收取
					方式及标准，将以在平台网站上发布公告的方式通知您，而不再作个别通知。</li>
			</ol>

			<h5>六、一般规定</h5>
			<ol>
				<li>
					<div class="list-style">1、</div>
					本协议与平台网站上其他条款和规则的名词解释、意思理解，可互相引用参照，如有不
					同理解，应以本协议为准。本协议未做规定的，以平台网站上不时更新的《诺诺镑客服务协
					议及隐私条款》及网站内容为准。
				</li>
				<li>
					<div class="list-style">2、</div>
					如果本协议条款中的部分条款被有管辖权的法院认定为无效，则并不影响其他条款的有效性。
				</li>
				<li>
					<div class="list-style">3、</div>
					本公司保有制定和单方随时修改包括但不限于上述规则的各项规则。所有规则均构成本
					协议的有效组成部分。新制定和经修改的规则将在平台网站上进行公布，不做逐一通知。新
					制定和经修改的规则一旦公布则立即生效，且对生效前的投资者同样适用。
				</li>
				<li>
					<div class="list-style">4、</div>
					如果您就诺诺宝服务中所涉及相关事宜（包括但不限于支付、资金流转、平台网站账户
					安全、资金及收益查询等）有任何疑问的，您可拨打客服热线（4000-646-668）咨询。
				</li>
			</ol>

			<h5>七、法律适用</h5>
			<ol>
				<li>
					<div class="list-style">1、</div>
					因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。
				</li>
				<li>
					<div class="list-style">2、</div>
					因本协议引起的或与本协议有关的争议，本公司可与投资者协商解决。协商不成的，任
					何一方均有权提起诉讼，并以诺诺镑客住所地人民法院为第一审管辖法院。
				</li>
			</ol>
		</div>

	</ion-content>
</ion-view>