<ion-view view-title="设置">
	<ion-content>
		<div class="list padding-vertical">
			<a class="item">
				实名认证
				<span class="item-note">{{userData.realName}}</span>
			</a>
			<a class="item">
				手机认证
				<span class="item-note">{{userData.mobileNumber}}</span>
			</a>
			<a class="item">
				银行卡认证
				<span class="item-note">中国工商银行(尾号1234)</span>
			</a>
			<a class="item">
				登录密码设置
				<span class="item-note">修改登录密码</span>
			</a>
			<a class="item">
				支付密码设置
				<span class="item-note">修改支付密码</span>
			</a>
			<a class="item">
				我的工资发放日
				<span class="item-note">每月12日</span>
			</a>
		</div>

		<div class="list">
			<a class="item">更多财神爷爷</a>
			<a class="item">给我反馈</a>
		</div>

		<div class="padding">
			<button class="button button-full button-assertive">退出登录</button>
		</div>
	</ion-content>
</ion-view>