<ion-view view-title="设置">
	<ion-content>
		<div class="list padding-vertical no-margin">
			<a class="item">
				实名认证
				<span class="item-note" ng-class="{blue: !userData.realName}">
					{{userData.realName ? userData.realName : '未认证'}}
				</span>
			</a>
			<a class="item">
				手机认证
				<span class="item-note">{{userData.mobileNumber}}</span>
			</a>
			<a class="item" ui-sref="{{userData.bank.url}}">
				银行卡认证
				<span class="item-note" ng-class="{blue: !userData.bankList.length}">
					{{userData.bank.name}}
				</span>
			</a>
			<a class="item" ui-sref="tabs.changePassword">
				登录密码设置
				<span class="item-note blue">修改登录密码</span>
			</a>
			<a class="item" ui-sref="{{+userData.hasPayPassword? 'tabs.changePaypassword' : 'tabs.setPayPassword'}}">
				支付密码设置
				<span class="item-note blue">{{+userData.hasPayPassword ? '修改' : '设置'}}支付密码</span>
			</a>
			<a class="item" ui-sref="tabs.setSalary">
				我的工资发放日
				<span class="item-note blue">每月12日</span>
			</a>
		</div>

		<div class="list no-margin">
			<a class="item" ui-sref="tabs.about">更多财神爷爷</a>
			<a class="item" ui-sref="tabs.feedback">给我反馈</a>
		</div>

		<div class="padding">
			<button class="button button-full button-assertive" ng-click="logout()">退出登录</button>
		</div>
	</ion-content>
</ion-view>