<ion-view view-title="我的账户" id="INFO">
	<ion-nav-buttons side="right">
    <a class="button button-icon" ui-sref="tabs.setting"><i class="ion-ios-gear-outline"></i></a>
	</ion-nav-buttons>
	<ion-content>
		<section class="text-center total-income" ng-click="viewBalanceDetail('accumulative')">
			<div class="padding">累计收益(元)</div>
			<div class="big padding">{{balance.totalIncome | currency:''}}</div>
			<div class="padding">昨日+{{balance.lastIncome | currency: ''}}</div>
		</section>

		<div class="each-item border row white-bg padding content-block-inner" ng-click="viewBalanceDetail('total')">
			<div class="col">总资产</div>
			<div class="col text-right">{{balance.total | currency: ''}}元</div>
		</div>
	
		<div class="each-item border row row-center white-bg content-block-inner">
			<div class="col-80" triangle>
				<div class="row row-center" ng-click="viewBalanceDetail('regular')">
					<div class="col">定期资产<br><small class="gray">到期后转活期</small></div>
					<div class="col col-center text-right">{{balance.regular | currency: ''}}元</div>
				</div>
			</div>
			<div class="col-20 col-center text-center middle"><a class="assertive" ui-sref="tabs.buy">投资</a></div>
		</div>

		<div class="each-item border row row-center white-bg content-block-inner">
			<div class="col-80" triangle>
				<div class="row row-center" ng-click="viewBalanceDetail('demand')">
					<div class="col">活期资产<br><small class="gray">按年化8.88%计息</small></div>
					<div class="col col-center text-right">{{balance.demand | currency: ''}}元</div>
				</div>
			</div>
			<div class="col-20 col-center text-center middle"><a class="assertive" ui-sref="tabs.withdraw">提现</a></div>
		</div>

		<div class="each-item border row row-center white-bg content-block-inner">
			<div class="col-80" triangle>
				<div class="row row-center" ng-click="viewExperience()">
					<div class="col">体验金<br><small class="gray">分享涨体验金</small></div>
					<div class="col col-center text-right">{{balance.experience | currency: ''}}元</div>
				</div>
			</div>
			<div class="col-20 col-center text-center assertive middle" ng-click="viewExperience()">分享</div>
		</div>

	</ion-content>
</ion-view>
