<ion-view view-title="体验金活动规则" class="agreement">
	<ion-content class="padding">
		<div class="padding-left">活动规则：</div>
		<ol>
			<li>
				<div class="list-style">1) </div>
				新用户可随机获得体验金，最高可获得8888元；
			</li>
			<li>
				<div class="list-style">2) </div>
				老用户邀请新用户投资即可获得2000元财神体验金；
			</li>
			<li>
				<div class="list-style">3) </div>
				每个用户获得邀请体验金的上限为10000元（即可邀请5人）；当新老用户投资之和大于等于500元时，邀请所能获得的体验金上限为30000元（即可邀请15人）；新老用户投资之和大于2500元时，邀请所能获得的体验金上限为60000元（即可邀请30人）；
			</li>
		</ol>
		<div class="padding">
			活动时间：<br>
			2015.6.20 - 2015.7.20
		</div>
		<div class="padding-left">财神体验金：</div>
		<ol>
			<li>
				<div class="list-style">a) </div>
				每笔财神体验金有效期为7天，7天后系统将收回该笔财神体验金；
			</li>
			<li>
				<div class="list-style">b) </div>
				财神体验金不可提现，体验金的年化收益率为8.88%，有效期内获得的收益可提现至用户银行卡中；
			</li>
		</ol>
	</ion-content>
</ion-view>